@import 'normalize.css';

:root {
  --primary: #fe2c55;
  --secondary: #00efe8;
  --black: #000;
  --white: #fff;
  --text-color: rgba(22, 24, 35, 1);
  --text-color-opacity: rgba(22, 24, 35, 0.75);
  --text-color-opacity-2: rgba(22, 24, 35, 0.5);
  --line-color: rgba(22, 24, 35, 0.3);
  --line-color-opacity: rgba(22, 24, 35, 0.1);

  --font-family: 'ProximaNova', sans-serif;

  // Default layout
  --default-layout-width: 1150px;
  --default-layout-header-height: 60px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
}

//scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Hide default range input
input[type='range'] {
  appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

// Default progress
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
  cursor: pointer;
}

progress::-webkit-progress-bar {
  background-color: var(--line-color);
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background: var(--white);
  border-radius: 2px;
}

progress::-moz-progress-bar {
  border: 1px solid var(--white);
  background: var(--white);
}

button,
input {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// Embeded Fonts
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: SofiaPro;
  src: url('/assets/fonts/sofiapro-bold.woff2');
  font-weight: 700;
}
