.wrapper {
  padding: 32px 24px;
}
.info {
  position: relative;
  max-width: 624px;
  margin-right: 92px;
  margin-bottom: 20px;
}

.main-info {
  display: flex;
}

.avatar {
  width: 116px;
  height: 116px;
}

.main-right {
  margin-left: 20px;
}

.nickname {
  font-family: var(--sofia-pro-font);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 4px;
}

.check {
  color: var(--secondary);
  font-size: 2rem;
  margin-left: 6px;
  margin-bottom: 2px;
}

.fullname {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  line-height: 1;
  font-weight: 600;
  font-family: var(--sofia-pro-font);
  margin-left: 0;
  margin-top: 16px;

  svg {
    margin-right: 4px;
  }

  &.follow-btn {
    width: 208px;
    font-size: 1.8rem;
  }

  &.edit-btn {
    width: 140px;
    border-color: var(--line-color-opacity);
  }
}

.numbers {
  margin-top: 22px;
}

.counter {
  display: inline-block;
  margin-right: 20px;
  font-weight: 400;
  color: var(--text-color-opacity);

  strong {
    font-size: 1.8rem;
    font-family: var(--sofia-pro-font);
    color: var(--text-color);
  }
}

.bio {
  line-height: 22px;
  margin-top: 10px;
}

.link {
  display: block;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  cursor: pointer;

  span:hover {
    text-decoration: underline;
  }
}

.link-icon {
  font-size: 1.4rem;
  margin-right: 4px;
}

.actions {
  position: absolute;
  top: 12px;
  right: 12px;

  svg {
    font-size: 2.4rem;
    margin-left: 12px;
    cursor: pointer;
  }
}

.tabs {
  --width: 230px;
  position: relative;
  display: flex;
  margin-bottom: 8px;

  &::after {
    content: '';
    width: var(--width);
    height: 2px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    transition: left 0.2s ease-out;
  }
}

.tab {
  width: var(--width);
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--sofia-pro-font);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color-opacity-2);
  border-bottom: 1px solid var(--line-color-opacity);
  cursor: pointer;

  & svg {
    margin-right: 6px;
  }

  &.active {
    color: var(--text-color);
  }
}

// effect pseudo class of .tabs
.tabs:has(.tab:nth-child(1).active)::after {
  left: 0;
}

.tabs:has(.tab:nth-child(2).active)::after {
  left: var(--width);
}

.tabs:has(.tab:nth-child(1):hover)::after {
  left: 0;
}

.tabs:has(.tab:nth-child(2):hover)::after {
  left: var(--width);
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
  grid-gap: 24px 16px;
}

.not-videos {
  height: 160px;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .not-icon {
    font-size: 6.4rem; // for FontAwesomeIcon
    width: 80px; // for inner icon
    height: 80px;
    color: var(--text-color-opacity-2);
    opacity: 0.4;
    margin-bottom: 32px;
  }

  .not-main {
    font-size: 2.4rem;
    font-weight: 700;
  }

  .not-desc {
    font-size: 1.6rem;
    color: var(--text-color-opacity);
  }
}
