.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
}

.inner {
  width: var(--default-layout-width);
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.full {
    width: 100%;
  }
}

.logo {
  display: flex;
}

// actions
.actions {
  display: flex;
  align-items: center;

  .upload-button {
    color: rgba(22, 24, 35, 1);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 2px;

    &.active {
      background-color: rgba(22, 24, 35, 0.03);
    }
  }
}

.menu-icon {
  width: 20px;
  height: 20px;
  margin-left: 16px;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.action-icon {
  position: relative;
  font-size: 2rem;
  padding: 4px 4px 0;
  background-color: transparent;
  color: rgba(22, 24, 35, 1);
  margin-left: 16px;
  cursor: pointer;
}

.icon-couter {
  position: absolute;
  top: 0;
  right: -2px;
  border-radius: 50px;
  padding: 2px 4px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--white);
}

.action-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 24px;
  cursor: pointer;
}
