:root {
  --sidebar-width: 348px;
  --padding-x: 8px;
}

.wrapper {
  width: var(--sidebar-width);
  height: calc(100vh - var(--default-layout-header-height));
  overflow-y: overlay;
  padding: 20px var(--padding-x) 26px var(--padding-x);

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover::-webkit-scrollbar {
    display: initial;
  }
}

.menu {
  padding-bottom: 8px;
}

.login {
  margin: 20px var(--padding-x);
}

.login-desc {
  color: var(--text-color-opacity-2);
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 20px;
}

.login-button {
  width: 100%;
}

.line {
  display: block;
  width: calc(100% - 2 * var(--padding-x));
  height: 1px;
  margin: 0 var(--padding-x);
  background-color: rgba(22, 24, 35, 0.12);
}
